In [10]:
# Importing dependencies 
from splinter import Browser
from bs4 import BeautifulSoup as bs
import time
import pandas as pd
import urllib.request
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [11]:
#Initiate Browser
def init_browser():
    # Set up Splinter
    executable_path = {'executable_path': ChromeDriverManager().install()}
    browser = Browser('chrome', **executable_path, headless=False)
    return browser

# Scrape latest news title and paragraph from: redplanetscience.com

In [15]:
browser = init_browser()

# Visit https://mars.nasa.gov/news/
url= "https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest"
browser.visit(url)
    
# Set time sleep for it not to crash 
time.sleep(1)

# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")


title = soup.find('div', class_= "content_title").text
print(f"News Titel:{title}")

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\dwaeh\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

News Titel:Mars Now

In [16]:
paragraph = soup.find('div', class_ = "article_teaser_body").text
print(f"News Paragraph :{paragraph}")

# Close the browser after scraping
browser.quit()

News Paragraph :A new video of the helicopter’s third flight gives viewers the sensation of standing on the Red Planet and seeing the action firsthand.

# Scrape Mars image from: spaceimages-mars.com

In [19]:
browser = init_browser()
img = "https://spaceimages-mars.com/"
browser.visit(img)

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\dwaeh\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

In [20]:
browser.links.find_by_partial_text('FULL IMAGE')

In [21]:
html = browser.html
soup = BeautifulSoup(html,'html.parser')

img_search = soup.find_all('img', class_='headerimage fade-in')

In [22]:
img_search[0]

In [23]:
for i in img_search:
    
    img_path = i['src']
    print(img_path)

image/featured/mars3.jpg

In [24]:
img_path

'image/featured/mars3.jpg'

In [25]:
featured_image_url = f'https://www.spaceimages-mars.com/{img_path}'

In [27]:
featured_image_url
browser.quit()

# Scrape Mars Facts table from: galaxyfacts-mars.com

In [31]:
browser = init_browser()
table_url = "https://galaxyfacts-mars.com/"
browser.visit(table_url)
table = pd.read_html(table_url)
table

====== WebDriver manager ======
Current google-chrome version is 90.0.4430
Get LATEST driver version for 90.0.4430
Driver [C:\Users\dwaeh\.wdm\drivers\chromedriver\win32\90.0.4430.24\chromedriver.exe] found in cache

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
table_df = table[1]

In [33]:
table_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [34]:
table_final = table_df.to_html(header=False,index=False)
print(table_final)

<table border="1" class="dataframe">
  <tbody>
    <tr>
      <td>Equatorial Diameter:</td>
      <td>6,792 km</td>
    </tr>
    <tr>
      <td>Polar Diameter:</td>
      <td>6,752 km</td>
    </tr>
    <tr>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <td>Moons:</td>
      <td>2 ( Phobos &amp; Deimos )</td>
    </tr>
    <tr>
      <td>Orbit Distance:</td>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <td>Orbit Period:</td>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <td>Surface Temperature:</td>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <td>First Record:</td>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <td>Recorded By:</td>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

In [35]:
browser.quit()